body {
  background-color: skyblue;
}
#myLogo {
  color:tomato;
  display: inline;
}
#myBrand {
  display: inline;
  color: tomato;
}
.navItem {
  border: unset;
}
#pageBody {
  width: auto;
  height: 600px;
  overflow: auto;
}